{% import '_macros' as macros %}

{% include "_partials/testimonials-carousel" %}
{% include "_partials/orgs" %}
<!-- Footer -->
<div class="container-fluid footer">
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-around align-items-center  border-0">
			<p class="col-md-4 mb-0 text-body-secondary">© {{ 'now' | date('Y') }} Rebecca Luff</p>

			
{% cache %}
	


			<ul class="nav col-md-8 justify-content-end">
				{% set menu = craft.entries.section('menu').all() %}


				{% for entry in menu %}
				{% if entry.entryLink.one()|length %}
				{% set navlink = entry.entryLink.one().url %}
				{% else %}

				{% set navlink = alias('@web') ~ '/' ~ entry.customLink %}
				{% endif %}
				{% set btnnav = "" %}
				{% set mnuClass = "" %}

				<li
					class="nav-item {{ macros.activeLinkClass(navlink, entry.level)|trim }} level{{ entry.level }} {{ entry.title |lower }}">
					<a id="{{ entry.title }}" href="{{ navlink }}"
						class="nav-link {{ macros.activeLinkClass(navlink, entry.level) |trim }} level{{ entry.level }} {{ mnuClass }}">{{entry.title
						}}</a>
				</li>

				{% endfor %}
			</ul>
			{% endcache %}
		</footer>
	</div>
</div>



<!-- Scripts -->