{% import '_macros' as macros %}

<header class="w-100 mx-auto bg-light ">
  <div class="container ">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    
      <a class="navbar-brand" href="{{baseUrl}}">Rebecca Luff</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% set menu = craft.entries.section('menu').all() %}


          {% for entry in menu %}
          {% if entry.entryLink.one()|length %}
              {% set navlink = entry.entryLink.one().url %}
            {% else %}
        
              {% set navlink = alias('@web') ~ '/' ~ entry.customLink %}
          {% endif %}
          {% set btnnav = "" %}
          {% set mnuClass = "" %}
          
          <li class="nav-item {{ macros.activeLinkClass(navlink, entry.level)|trim }} level{{ entry.level }} {{ entry.title |lower }} {%if loop.last%}last pe-0{%endif%}">
            <a id="{{ entry.title }}" href="{{ navlink }}" class="nav-link {{ macros.activeLinkClass(navlink, entry.level) |trim }} level{{ entry.level }} {{ mnuClass }}">{{entry.title }}</a>
          </li>
         
          {% endfor %}

        </ul>
      </div>
    
  </nav>
</div>
</header>