<section class="bg-light d-flex ">
    
    <div class="container py-5 position-relative balloon-header">
        <div class="row flex-lg-ro w-reverse align-items-center g-5 py-0 g-0 ">
            
            {# <img src="{{baseUrl}}assets/balloon.png" class="ballon-header" width="317px" height="110px"> #}
            {# <div class="col-12 col-sm-8 col-lg-6">
                {% set asset = pageSettings.pageheaderImageSmall.one() %}
                {% set thumb = {
                mode: 'crop',
                width: 250,
                height: 250,
                quality: 85
                } %}
                <img class="d-block mx-lg-auto img-fluid rounded-circle bg-.bg-light bg-gradient"
                    alt="Page header image of Rebecca Luff" loading="lazy" src="{{ asset.getUrl(thumb) }}"
                    width="{{ asset.getWidth(thumb) }}" height="{{ asset.getHeight(thumb) }}">
            </div> #}

            <div class="col-lg-12 position-relative z-0">
                
                <h1 class="fw-normal mb-3 text- fs-3">{{entry.title}}</h1>
            </div>
        </div>
    </div>

</section>
{# <div class="custom-shape-divider-bottom-1735908194">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
    </svg>
</div> #}