<!-- carousel -->
{% cache %}

{% if orgSlider.hide == "0" %}

{% set slides = orgSlider.slides %}

<div class="orgs container-fluid bg-light-subtle mt-0 py-4 m-0">
	<div class="container py-3 ">
        {% if orgSlider.sectionHeading|length %}
        <div class="col-12 py-3">
            <h5 class="text-center text-muted">{{orgSlider.sectionHeading}}</h5>
        </div>
        {% endif %}
        
        <div class=""><h3></h3></div>
        <div class="d-flex flex-wrap justify-content-center align-items-center ">
            {% for block in slides %}
            {% set asset = block.logo.one ??  null %}
                <a href="{{block.customLink}}" class="d-flex col-auto" target="_blank">
                    <img class="d-flex m-2 p-1 px-sm-3  m-sm-3" src="{{asset.getUrl('logos') }}" width="auto" height="{{ asset.getHeight('logos') }}" alt="{{block.title}}"></a>
                    {% endfor %}
        </div>

	
	</div>
</div>
{% endif %}
{% endcache %}