{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}
{% include('_partials/header-shallow')%}


<section class="py-8  category py-5">
    <div class="container my-lg-8">
        <div class="row">
            <div class=" col-12">
                <div class="mb-8">
                    <h1 class="display-4 fw-semibold">{{category.title}}</h1>

                    {{category.categoryDescription}}
                    {% set catEntries = craft.entries.section('work').limit(null).relatedTo(category).all() %}
                    {% for entry in catEntries %}
                    

                    <div class="card border">
                        <div class="card-body d-flex flex-column gap-5 p-5">
                            <article>
                                <a href="{{entry.url}}"
                                    class="text-body d-flex flex-row gap-2 link-underline link-underline-opacity-0 ">
                                    <h2>{{entry.title}}</h2>
                                </a>
                                <span>{{entry.intro}}</span>
                            </article>
                        </div>
                    </div>


                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}