{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}
<section class="bg-light d-flex">
    <div class="container col-xxl-8 px-4 py-0 g-0">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-0">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{alias('@assetBaseUrl')}}/images/rebeccaI-greenscreen-removebg.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">My work</h1>
            
            
          </div>
        </div>
      </div>
    </section>
<section class="py-8 bg-light category">
    <div class="container my-lg-8">
        <div class="row">
            <div class="offset-md-2 col-md-8 col-12">
                <div class="mb-8">
                    <h1 class="display-4 fw-semibold">{{category.title}} </h1>

                    {{category.categoryDescription}}
                    {% set catEntries = craft.entries.section('work').limit(null).relatedTo(category).all() %}
                    {% for entry in catEntries %}
                    <div class="col-12 mb-4"></div>
                    
                        <div class="card border">
                            <div class="card-body d-flex flex-column gap-5 p-5">
                                <article>
                                    <a href="{{entry.url}}" class="text-body d-flex flex-row gap-2">
                                    <h2>{{entry.title}}</h2>
                                    </a>
                                    <span>{{entry.intro}}</span>
                                </article>
                            </div>
                </div>


                {% endfor %}
            </div>
        </div>

    </div>
    </div>
</section>

{% endblock %}