{# -- Base web layout template that all web requests inherit from -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                 htmlTag                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                 headTag                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               headContent                               │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                 bodyTag                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               bodyContent                               │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  htmlPage                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_base/global-variables.twig" %}

{%- block htmlPage -%}
    {% minify %}
    <!DOCTYPE html>
            <html lang="{{ craft.app.language |slice(0,2) }}">

            <head>
                <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GE9MM4L189"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GE9MM4L189');
</script>
                <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
                {% hook "seo" %}
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


                <link rel="apple-touch-icon" sizes="180x180" href="{{alias('@baseUrl')}}/apple-touch-icon.png">
                <link rel="icon" type="image/png" sizes="32x32" href="{{alias('@baseUrl')}}/favicon-32x32.png">
                <link rel="icon" type="image/png" sizes="16x16" href="{{alias('@baseUrl')}}favicon-16x16.png">
                <link rel="manifest" href="{{alias('@baseUrl')}}/site.webmanifest">
<!-- intenrla -->
<link href="{{alias('@baseUrl')}}/css/style.min.css" rel="stylesheet" >
            
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>        
                
                
            </head>

          
            <body  class="bg-white {% if bodyClass is defined %} {{ bodyClass }} {% endif %} position-relative"> 
                
                {% include "_partials/header.twig" %}
            
                    
                   

                        {% block content %}


                
                {% endblock content %}
                    
                 {# -- Info footer -- #}
        
                 {% include "_partials/footer.twig" %}
                </body>
        </html>
    {% endminify %}
{%- endblock htmlPage -%}
