{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}

<section class="bg-light d-flex">
<div class="container">
    <div class="row flex-sm-row-reverse align-items-center g-5 py-0">
      <div class="col-auto  col-md-6 col-lg-6">
        {% set asset = entry.image.one() %}
        
        <img src="{{asset.url}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" 
        width=" {{asset.width}}" height=" {{asset.height}}" loading="lazy">
      </div>
      <div class="col-auto  col-md-6 col-lg-6 justify-content-md-start">
        <div class="d-flex py-5 fs-5">
          {{ entry.words |replace({',': "<span class='d-flex-inline text-primary'>&nbsp;//&nbsp; </span>" })|raw }}

          
        </div>
        <h1 class="display-5 fw-semibold text-body-emphasis lh-2 mb-5">
        {{entry.heroheadline}}
        </h1>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{entry.heroButtonLink.one().url}}" class="btn btn-primary btn-lg px-4 me-md-2 mb-2">
            {{entry.heroButtonText}}</a>
      
        </div>

      </div>
    </div>
  </div>
</section>

{% include('_partials/cat-cards') %}


{% endblock %}
